@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
.recipe{
    
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    align-items: left;
    width: 400px;
    height: 100%;
    
}

.image{
    width: 100%;
    max-height: 50%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calories{
    padding: 0px 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    
}
.title {
    margin-top: 4%;
    padding-left: 10px;
    padding-right: 0px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
}

.li{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 80%; 
}

.ol{
    padding: 10px;
    background-color: bisque;
}